.navbar--zotpardy {
    color: #E4E843;
    position: absolute;
    width: 391px;
    height: 65px;
    left: 55%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    display: flex;
    color: #E4E843;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 43px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.45);
}

.navbar--body {
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 125px;

    background: #16286A;
    border: 1px solid #000000;

}

.container {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    /* width: 1443px; */
    height: 100%;
    /* margin: 0; */

    background: #1F48AF;
    border: 1px solid #000000;
}

.bottom {
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 53px;
    display: flex;

    background: #16286A;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.github1 {
    position: absolute;
    width: 43px;
    height: 43px;

    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.github2 {
    position: absolute;
    width: 43px;
    height: 43px;

    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-left: 617px; */
    left: 50%;
}

.github3 {
    position: absolute;
    width: 43px;
    height: 43px;

    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-left: 1207px; */
    left: 88%;
}

.devesh {
    position: absolute;
    width: 184px;
    height: 37px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;

    padding-left: 93px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.andy {
    position: absolute;
    width: 184px;
    height: 37px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;

    /* padding-left: 674px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    left: 52%;
}

.will {
    position: absolute;
    width: 184px;
    height: 37px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #FFFFFF;

    /* padding-left: 1262px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    left: 90%;
}

.main {
    position: absolute;
    width: 47%;
    height: 52%;

    background: #16286A;
    border: 1px solid #0B0101;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 30%;
    top: 227px;
    
}

.card1 {
    top: 22px;
    left: 64px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.card2 {
    top: 22px;
    left: 344px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.card3 {
    top: 22px;
    left: 624px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.card4 {
    top: 187px;
    left: 64px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.card5 {
    top: 187px;
    left: 344px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.card6 {
    top: 187px;
    left: 624px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.card7 {
    top: 352px;
    left: 64px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.card8 {
    top: 352px;
    left: 344px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

.card9 {
    top: 352px;
    left: 624px;
    position: absolute;
    width: 24.2%;
    height: 26.5%;

    background: #E9EB95;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }